---
layout: default
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% if site.profile_picture %}
    {% include base.html %}
    <img src="{{ site.profile_picture }}" class="profile-picture" alt="{{ site.author }} profile picture"></img>
  {% endif %}

  {{ content }}

</div>

<style>
  .profile-picture {
  float: right;
  /* margin-right: $spacing-unit; */
  /* margin-bottom: $spacing-unit; */
  margin: 30px;
  max-width: 45%;
  border: 0px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;

  @include media-query($on-palm) {
      display: block;
      float: none;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
}
</style>